.container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.flex {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}